@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Poppins:wght@300;400;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    background-color: #ffffff;
    padding-top: 100px;
    position: relative;
}

.card-wrapper {
    max-width: 1184px;
    margin: 0 auto;
}

img{
    width: 100%;
    display: block;
}

.img-display{
    overflow: hidden;
    position: relative;

}

.img-showcase{
    width: 100%;
    transition: all 0.5s ease;
}

.card {
    display: flex;
    overflow: hidden;
}

.prduct-imgs {
    display: flex;
    flex-direction: column;
}


.img-showcase img {
    min-width: 100%;
    height: auto;
    display: block;
}

.img-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-item {
    margin: 0.3rem;
}

.img-item:hover{
    opacity: 0.8;
}

.img-item a {
    display: block;
}


.product-content {
    padding: 2rem 1rem;
}

.product-title {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    margin: 1rem 0 20px 0;
    font-family: 'Open Sans', sans-serif;
}

.brand{
    font-size: 0.9rem;
    background-color: rgb(5, 121, 121);
    padding: 0 0.3rem;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 0.5rem;
    color:#fff;

}

.product-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 4px;
    width:80px;
    height: 3px;
    background-color: black;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span {
    font-weight: 400;
}

.product-detail h2 {
    text-transform: capitalize;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 1rem;
    padding: 0.3rem;
    max-width: 70%;
    text-align: justify;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f3c4b8;
    color: white;
    font-weight: 400;
}

button:hover{
    background-color: #f1ebe7;
    border: 1px solid black;
    color: black;
}

.social-link{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1rem;
    margin: 5px;
    border: 1px solid black;
}

.related-products{
    margin-top: 16px;
    padding: 20px;
}

.related-products .wrapper{
    display: flex;
}

.wrapper .col5{
    position: relative;
    width: calc(100% / 6);
    margin-right: 30px;
}

.product-content{
    position: relative;
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.search-icon{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-icon i{
    font-size: 30px;
    font-weight: 500;
}

.product-content:hover .search-icon{
    opacity: 1;
}
  
.product-img{
    background-color: rgb(233, 233, 233);
    box-shadow: 0 0 20ox 10px rgb(237, 236, 236);
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}

.product-img img{
    transition: transform 0.6s ease;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.latest-row .col5:hover .product-img img{
    transform: scale(1.1);
}

.latest-row .col5:hover .product-img{
    background-color: #d0a5a0;
}

.rating-wrapper {
    display: flex;
  align-items: flex-end;
  }
  
  .rating-wrapper input[type="checkbox"] {
    display: none;
  }
  
  .rating-wrapper label {
    font-size: 24px; 
    color: #ddd;
    cursor: pointer;
    text-align: center;
  }
  
  .rating-wrapper input[type="checkbox"]:checked + label {
    color: #ffc107; 
  }
  






