@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

.container{
    background: linear-gradient(106.37deg, #ffe1bc 29.63%, #ffcfd1 51.55%, #f3c6f1 90.85%);
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-content {
    position: relative;
    height: 97%;
   width: 97%;
   border-radius: 2rem;
    display: flex;
    background-color: rgba(255, 255, 255,0.54);
    overflow: hidden;
}

.bars {
    position: absolute;
    top: 25px;
    left: 170px;
    cursor: pointer;
}

.bar {
    margin: 3px 0;
    width: 20px;
    height: 4px;
    border-radius: 4px;
    background-color: #000;
}

.categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.heading {
    text-align: center;
    margin-right: 100px;
    padding: 0 50px;
}

form{
    margin-top: 50px;
    margin-right: 100px;
}

.form-control{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.label-container{
    width: 30%;
}

label{
    font-weight: 600;
}


input[type="text"],
textarea {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: vertical;
}

/* Style the file input */
input[type="file"] {
  display: block;
  margin-top: 10px;
}

.add{
    padding: 10px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-weight: 400;
    transition: 0.5s;
    text-align: center;
}

.add:hover{
    letter-spacing: 3px;
    background-color: rgb(41, 126, 107);
    color: #ffffff;

}

