<app-header></app-header>
<div class="main">
  <div class="row">
    <div class="col">
      <div class="user-nav">
          <a href="#" class="nav-link">
              <i class="fa fa-user-o" aria-hidden="true"></i>
              Your Profile
          </a>
          <a href="#" class="nav-link">
              <i class="fa fa-first-order" aria-hidden="true"></i>
              Your Orders
             
          </a>
          <a href="#" class="nav-link">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              Your Wishlist
          </a>
          <a href="#" class="nav-link">
              <i class="fa fa-address-book" aria-hidden="true"></i>
              Your Addresses
          </a>
      </div>
    </div>
    <div class="col12">
      <div class="form-container">
        <div class="header">
          <h1>Take the chance and be supplier</h1>
        </div>
        <form action="" [formGroup]="angForm" (ngSubmit)="postdata()" autocomplete="off">
          <div class="col16">
            <div class="form-control">
              
              <input type="text" formControlName="client_name">
              <label>Name</label>
            </div>
            
            <div class="form-control">
              
              <input type="text"  formControlName="email">
              <label>Email</label>
            </div>
          </div>
          <div class="col16">
            <div class="form-control">
              
                <textarea rows="15" cols="50" formControlName="message"></textarea>
              <label>Message</label>
            </div>
          </div>

          <div class="button-container">
            <div class="button">
              <button type="submit" name="submit" value="" class="add">Send Request</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
