<app-header></app-header>

<div class="main">
  <div class="container">
  
    <div class="container-header">
      <div class="sidebar-menu">
          <ul>
              <li class="items" *ngFor="let maincategory of maincategories" (click)="onSelectMainCategory(maincategory)">
                <div class="icon">
                  <a href="#"><img [src]="maincategory.icon_url" alt=""></a>
                  <a routerLink="/products/{{ maincategory.main_category_id }}">{{ maincategory.main_category_name }}</a>
                  <i class="fa" [ngClass]="categoriesDisplayed && maincategory.main_category_id === selectedMainCategory?.main_category_id ? 'fa-angle-down' : 'fa-angle-right'" aria-hidden="true"></i>
                </div>

                <ul *ngIf="selectedMainCategory && maincategory.main_category_id === selectedMainCategory.main_category_id && categoriesDisplayed">
                  <li class="items" *ngFor="let category of selectedMainCategory.categories" (click)="onSelectCategory(category)">
                    <div class="item">
                      <a href="#">{{ category.category_name }}</a>
                      <i class="fa" [ngClass]="subcategoriesDisplayed && category.category_id === selectedCategory?.category_id ? 'fa-angle-down' : 'fa-angle-right'" aria-hidden="true"></i>
                    </div>
                    
                    <ul *ngIf="selectedCategory && category.category_id === selectedCategory.category_id && subcategoriesDisplayed">
                      <li class="subcategory" *ngFor="let subcategory of selectedCategory.subcategories">
                        {{subcategory.subcategory_name }}
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
          </ul>
      </div>
       
      <div class="slider" (mouseenter)="pauseAutoPlay()" (mouseleave)="resumeAutoPlay()">
        <div class="slides" >
          <div class="slide" *ngFor="let slider of sliders"  >
            <img [src]="slider.image_url">
          </div>
        </div>
      </div>     
    </div>

    <div class="brands">
      <div *ngFor="let brand of brands" class="brand-image">
        <a href="#"><img [src]="brand.image_url" alt=""></a>
      </div>
    </div>
    
    <div class="trending">
      <div class="sectop">
        <h2><span class="circle"></span><span>Trending Products</span></h2>
      </div>
      <div class="column">
        <div class="flexwrap">
          <div class="row products big" *ngFor="let offer of offers">
            <div class="row-item">
              <div class="offer">
                <p>Offer ends at</p>
                <ul class="flexcenter">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <div class="image-container">
                <div class="media">
                  <div class="image">
                    <a href="#"><img [src]="offer.image_url"alt=""></a>
                  </div>
                  <div class="hoverable">
                    <ul>
                      <li><a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                      <li><a href=""><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                  <div class="discount circle"><span></span></div>
                </div> 
              </div>
              
              <div class="content">
                <div class="rating">
                  <div class="stars"></div>
                  <span class="mini-text"></span>
                </div>
                <h3 class="mini-links"><a href="#">{{offer.product_name}}</a></h3> <!--title of article-->
                <div class="price">
                  <span class="current"></span>
                  <span class="normal mini-text">${{offer.product_price}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="products mini">
            <div class="col row-item" *ngFor="let trend of trends">
              <div class="media">
                <div class="thumbnail object-cover">
                  <a href="#"><img [src]="trend.image_url" *ngIf="trend.product_image"  alt=""></a>
                </div>
                <div class="hoverable">
                  <ul>
                    <li><a (click)="addToWishlist(trend.product_id)"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                    <li><a [routerLink]="['/product-details/',trend.product_id]"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="discount circle"><span></span></div>
              </div>
              <div class="content">
                <h3 class="mini-links"><a href="#">{{trend.product_name}}</a></h3> <!--title of article-->
                <div class="price">
                  <span class="current"></span>
                  <span class="normal mini-text">${{trend.product_price}}</span>
                </div>
              </div>
            </div>
          </div> 
          
        </div>
        
      </div>
      
    </div>

    <div class="services">
      <div class="sectop">
        <h2><span class="circle"></span><span>Our Services</span></h2>
      </div>
      <div class="service-row">
        <div class="col5">
          <a href="#"><i class="fa fa-truck" aria-hidden="true"></i></a>
          <h3>Free Shipping</h3>
          <p>From all order over $100</p>
        </div>
        <div class="col5">
          <a href="#"><i class="fa fa-gift" aria-hidden="true"></i></a>
          <h3>Daily Surprise Offers</h3>
          <p>Save up into 25% off</p>
        </div>
        <div class="col5">
          <a href="#"><i class="fa fa-percent" aria-hidden="true"></i></a>
          <h3>Affordable Prices</h3>
          <p>Get Factory direct price</p>
        </div>
       
        <div class="col5">
          <a href="#"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>
          </a>
          <h3>Secure Payment</h3>
          <p>100% secure payment</p>
        </div> 
      </div>
    </div>
    <div class="snowflake-container">
    </div>    
    <div class="latest">
      <div class="sectop">
        <h2><span class="circle"></span><span>Latest Products</span></h2>
      </div>
      <div class="latest-row wrapper">
        <div *ngFor="let product of products" class="col5">
          <div class="product-content">
            <div class="product-img">
              <img [src]="product.image_url" alt="">
            </div>
            <div class="search-icon">
              <i class="fa fa-search-plus" aria-hidden="true"></i>
            </div>
          </div>
          <div class="product-info">
            <div class="product-info-top">
              <h3 class="sm-title">{{product.product_name}}</h3>
            </div>
            <p class="product-price">${{product.product_price}}</p>
          </div>
      </div>

    </div>

    
    </div>
    <div class="about">
      <div class="sectop">
        <h2><span class="circle"></span><span>About Us</span></h2>
      </div>
      <div class="about-row">
        <img src="../../../assets/ecom1.5.gif" alt="">
        <p>
          DreamPurely connects customers and sellers to achieve great deals while benefiting from DreamPurely expertise. 
          Looking for high quality products. DreamPurely makes buying and selling online easy and convenient with short delivery 
          times. In addition, we assure you of secure and reliable transactions. With DreamPurely you will be able to make your
           purchases at the best price, in complete safety and without leaving your home! Whether you want to buy 
           a pair of jeans, toys for your kids, a sofa for your living room, or a gift for your loved one, 
           DreamPurely is always here to provide you with the latest products according to your needs and help you find the item. 
           Perfect. You don't have to worry anymore when you buy from DreamPurely, you can be sure of the authenticity and quality 
           of the products you buy. Compared to many online shopping stores, we have a plethora of trusted brand partners on board.
          We guarantee new and authentic products at unbeatable prices and cash on delivery.

        </p>
      </div>
    </div>
    <div class="contact-section">
      <div class="sectop">
        <h2><span class="circle"></span><span>Contact Us</span></h2>
      </div>
      <p class="pr">Be free to send us a message!</p>
      <div class="contact-container">
        <div class="contact-col">
          <div class="box">
            <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            <div class="text">
              <h3>Address</h3>
              <p>Canada Montreal</p>
            </div>
          </div>
          <div class="box">
            <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
            <div class="text">
              <h3>Phone Number</h3>
              <p>94772207</p>
            </div>
          </div>
          <div class="box">
            <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
            <div class="text">
              <h3>Email</h3>
              <p>xxxxxx@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="contact-col">
          <form>
            <h2>
              Send Message
            </h2>
            <div class="input-box">
              <input type="text" placeholder="Your Name" name="name">
              <label for="">Your Name</label>
            </div>
            <div class="input-box">
              <input type="text" placeholder="Your Email" name="name">
              <label for="">Your Email</label>
            </div>
            <div class="input-box">
              <textarea></textarea>
              <label for="">Your Message</label>
            </div>
            <div class="input-box">
              <input type="submit">
            </div>
          </form>
        </div>
      </div>
     
    </div>
  </div>
</div>

<app-footer></app-footer>
