<app-header></app-header>
<div class="main">
  <div class="row">
    <div class="col">
      <div class="user-nav">
          <a routerLink="/address" class="nav-link">
              <i class="fa fa-user-o" aria-hidden="true"></i>
              Your Profile
          </a>
          <a href="#" class="nav-link">
              <i class="fa fa-first-order" aria-hidden="true"></i>
              Your Orders
             
          </a>
          <a href="#" class="nav-link">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              Your Wishlist
          </a>
          <a href="#" class="nav-link">
              <i class="fa fa-address-book" aria-hidden="true"></i>
              Your Addresses
          </a>
      </div>
    </div>
    <div class="col12">
      <div class="form-container">
        <div class="header">
          <a href=""><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
          <h1>Add New Address</h1>
        </div>
        <form action="" [formGroup]="angForm" (ngSubmit)="postdata()" autocomplete="off">
          <div class="col16">
            <div class="form-control">
              
              <input type="text" formControlName="country">
              <label>Country</label>
            </div>
            
            <div class="form-control">
              
              <input type="text"  formControlName="province">
              <label>Province</label>
            </div>
          </div>
          <div class="col16">
            <div class="form-control">
              
              <input type="text" formControlName="city">
              <label>City</label>
            </div>
        
            <div class="form-control">
              
              <input type="text" formControlName="street">
              <label>Street</label>
            </div>
          </div>

          <div class="button-container">
            <div class="button">
              <button type="submit" name="submit" value="" class="add">Add New Address</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>