<div class="col">
    <div class="user-nav">
        <a href="#" class="nav-link">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            Your Profile
        </a>
        <a href="#" class="nav-link">
            <i class="fa fa-first-order" aria-hidden="true"></i>
            Your Orders
           
        </a>
        <a href="#" class="nav-link">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            Your Wishlist
        </a>
        <a href="#" class="nav-link">
            <i class="fa fa-address-book" aria-hidden="true"></i>
            Your Addresses
        </a>
    </div>
</div>